<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/../fragments/head :: head('Cadastrar Produto')}"></th:block>


<body>
    <th:block th:replace="~{/../fragments/head :: header}"></th:block>
    <div class="container pt-5">
        <h1>Cadastrar Cliente</h1>
        <form action="#" th:action="@{/customer/save}" th:object="${customer}" method="POST">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control" id="name" name="name"
                        placeholder="Digite o nome do cliente">
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" th:field="*{email}" class="form-control" id="email" name="email"
                        placeholder="Digite o email do cliente">
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="phoneNumber">Numero de telefone:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber"
                        name="phoneNumber" step="0.01" placeholder="Digite o número de telefone do cliente">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="text-danger"
                        th:errors="*{phoneNumber}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dateOfBirth">Data de nascimento:</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{dateOfBirth}" class="form-control" id="dateOfBirth"
                        name="dateOfBirth" placeholder="Digite a data de nascimento do cliente">
                    <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errorclass="text-danger"
                        th:errors="*{dateOfBirth}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{cpf}" class="form-control" id="cpf" name="cpf"
                        placeholder="Digite o CPF do cliente">
                    <p th:if="${#fields.hasErrors('cpf')}" th:errorclass="text-danger" th:errors="*{cpf}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{address}" class="form-control" id="address" name="address"
                        placeholder="Digite o endereço do cliente">
                    <p th:if="${#fields.hasErrors('address')}" th:errorclass="text-danger" th:errors="*{address}" />
                </div>
            </div>
            <button type="submit" class="btn btn-info col-2"> Cadastrar Cliente</button>
        </form>
    </div>
    
    <div th:replace="~{/../fragments/footer :: footer}"></div>
</body>



</html>