<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/../fragments/head :: head('Cadastrar Produto')}"></th:block>
<body>
  <th:block th:replace="~{/../fragments/head :: header}"></th:block>
  <div class="container pt-5">
    <h1>Listagem de Clientes</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">CPF</th>
          <th scope="col">Endereço</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="customer : ${customerList}">
          <td scope="row" th:text="${customer.name}"></td>
          <td scope="row" th:text="${customer.email}"></td>
          <td scope="row" th:text="${customer.phoneNumber}"></td>
          <td scope="row" th:text="${customer.dateOfBirth}"></td>
          <td scope="row" th:text="${customer.cpf}"></td>
          <td scope="row" th:text="${customer.address}"></td>
          <td>
            <div class="d-flex">
              <a th:href="@{/customer/edit/{id}(id=${customer.id})}" class="btn btn-primary me-2">Editar</a>
              <a th:href="@{/customer/delete/{id}(id=${customer.id})}" class="btn btn-danger">Deletar</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
        <a th:href="@{/customer/create}">
          <button sec:authorize="hasAuthority('Admin')" class="btn btn-primary">Cadastrar Cliente</button>
        </a>
      </div>
  </div>
  <div th:replace="~{/../fragments/footer :: footer}"></div>
</body>
</html>